* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-color: #fcfcfc;
  color: #333;
}

.main-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-content {
  margin: 8rem auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 2rem;
  margin-right: 0.5rem;
}

.domain-title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.75rem;
}

.text-container {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  min-height: 2rem;
  font-weight: 550;
  padding-top: 2px;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  height: 1.875rem;
  width: 1.875rem;
}

.lds-ring div {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 0.3rem solid transparent;
  border-radius: 50%;
  border-top-color: #313131;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 1.875rem;
  width: 1.875rem;
}

.lds-ring div:first-child {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  body .lds-ring div {
    border-color: #676767 transparent transparent;
  }
}

.checkbox-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 74px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.3s;
  opacity: 0;
}

.checkbox-window-inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox-container {
  width: 30px;
  height: 28px;
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
}

#spinner2 {
  width: 40px;
  height: 40px;
  animation: rotate 4s linear infinite;
  margin-top: -4px;
  fill: green;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checkbox {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #888;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.checkbox.checked {
  border-color: #4285f4;
  background-color: #4285f4;
  position: relative;
}

.checkbox.checked::after {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: -2px;
  left: 2px;
}

.spinner {
  visibility: hidden;
  position: relative;
}

.tettx {
  color: rgb(78, 78, 78);
}

.tettx p {
  margin: 0 !important;
}

.legal-links {
  font-size: 8px;
  text-align: right;
  margin-left: auto;
}

.legal-links img {
  width: 67px;
  height: 23px;
  margin-bottom: 5px;
}

.legal-links p {
  text-decoration: underline;
}

.verify-window {
  font-family: Roboto, helvetica, arial, sans-serif;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 0;
  transition: opacity 0.5s, height 0.5s;
  border-top: 1px solid #797979;
  padding-top: 3px;
  margin-top: 15px;
}

.verify-window.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  display: block;
}

.verify-header {
  background-color: #e85d1a;
  padding: 10px 16px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
}

.verify-main {
  padding: 16px;
  font-size: 14px;
  color: #333;
}

.verify-main p:first-of-type {
  font-size: 18px;
  margin-bottom: 15px;
}

.verify-main ol {
  padding-left: 20px;
}

.verify-main ol li {
  margin-bottom: 10px;
}

.verify-main code {
  display: block;
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ddd;
}

.verify-main .observe {
  padding-top: 10px;
}

.verify-main .observe code {
  background: none;
  border: 1px solid #797979;
  width: 432px;
  color: #d9d9d9;
}

.verify-footer {
  background-color: #f2f2f2;
  padding: 16px;
  text-align: right;
}

.verify-footer-container {
  background: none;
}

.verify-footer-left {
  width: 286px;
  float: left;
  text-align: left;
  font-size: 15px;
}

.verify-verify-button {
  background: #5e5e5e;
  padding: 9px 38px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verify-verify-button:hover {
  background: #4a4a4a;
}

.footer {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.footer-inner {
  border-top: 1px solid #d9d9d9;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.footer-inner > div:first-child {
  margin-bottom: 5px;
}

.footer-inner code {
  font-family: monospace;
}

.domain-footer {
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-top: 33px;
}

.step0,
.step1,
.step2,
.step3 {
  display: none;
}

.step0.active,
.step1.active,
.step2.active,
.step3.active {
  display: block;
}

.success-icon {
  width: 30px;
  height: 30px;
}

.success-icon circle {
  fill: #28a745;
}

.success-icon path {
  stroke: white;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

